# Ignore environment variable file
.env

# Ignore local test script
search.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environment
venv/
env/
.venv/

# VS Code settings
.vscode/

# macOS
.DS_Store

# Temporary files
*.log
*.tmp
*.swp

